@import "tailwindcss";

/* FORCE DARK MODE CLASS STRATEGY 
   This tells Tailwind v4 to apply 'dark:' styles when the '.dark' class is present 
   on the HTML tag, instead of checking system preferences.


*/

:root {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'IBM Plex Sans', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700; /* Bold for headings */
}

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2563eb;
}

/* Global styles to ensure the background changes smoothly */
:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  @apply bg-gray-50 text-gray-900 transition-colors duration-300;
}

:root.dark body {
  @apply bg-[#121212] text-white;
}